*{
    letter-spacing: 5px;
    word-spacing: 10px;
}

h1 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 20px 20px 0px black;
}

h2 {
    text-transform: lowercase;
}

.chapter-1 p {
    text-transform: capitalize;
    text-align: left;
}

.chapter-2 p {
    text-align: center;
    color: green;
}

.chapter-3 p {
    text-align: right;
}

.chapter-1 a {
    text-decoration: none;
}

.chapter-2 a{
    text-decoration: overline;
}

.chapter-3 a {
    text-decoration: line-through;
}

#chapter-one {
    font-size: 3em;
}

.chapter-2 h4 {
    font-size: 16px;
}

#chapter-three {
    font-weight: 100;
}

p {
    font-style: oblique;
    text-indent: 50px;
    text-transform: uppercase;
}